body {
    background-color: rgb(197, 197, 197);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: white;
    margin: 50px;

    margin: 0 auto;
    border-radius: 15px;
    width: 20%;
    margin-top: 15%;

    padding: 40px;
}

.imagens img {
    border-radius: 100%;
    width: 200px;
    margin-bottom: 10px;
}
.azul {
    background-color: rgb(72, 116, 184);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 23%;
    margin: 0 auto;
    padding: 8px;
    
}
.texto {
    text-align: center;
    margin: 5px;
}
.azul:hover {
    background-color: blue;
    cursor: pointer;
}