.conteudo{
    background-color: rgb(255, 252, 69);
    
    padding: 200px;
    margin: 200px;
     
}

.conteudo p {
    
    border: solid black;
    margin: 0 auto;
    width: 15%;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;

}

#titulo{
    color: black;
    text-align: center;
    font-size: 48px;
}