body{
    
    padding-bottom: 200px;
    padding-left: 500px;
    padding-right: 550px;
    font-family: sans-serif;
    
}   

.principal{
    background-color: antiquewhite;
    padding-left: 10px;
    text-shadow: 2px 2px 2px grey;
    border-radius: 30px;
   padding-bottom: 10px;
    
    
    
    
}
.post{
    text-align: justify;
    
    margin-bottom: 50px;
    
    padding-top: 10px;
}
.data h2{
    color: blue;
}
.conteudo{
    padding-right: 70px;
}