
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


body{
    background-color: #2c3e50;
    color: white;
    font-family: "Black Ops One", system-ui;
    



}

.dourado{
    color: #f1c40f;
}


.vermelho{
    color: red;
}
.borda{
    background-color: #f1c40f;
    border-style: solid;
    color: black;
    
}